<div class="jumbotron" style="text-align:center">
  <h1 class="display-3" style="color:#301E80;">Furlenco - Music</h1>
  <hr class="my-4">
  <p class="text-muted">Play your music <span style="font-weight:bold; color:#301E80"> anytime  </span>anywhere </p>
  <p class="lead">
    <a href='/auth/google'>
      <button class="loginBtn loginBtn--google">
        Login with Google
      </button>
    </a>
  </p>
  <a href= '/auth/twitter'>
    <button mat-button>
      <img src="/assets/images/sign-in-with-twitterpng.png">
    </button>
  </a>
</div>